{{#if this.groups.length}}
  <div class="user-card-groups">
    <span class="desc">Groups:</span>
    <span class="group-list">
      {{#each this.groups as |g i|}}
        <a href="/g/{{g.name}}" class="group-link">{{g.name}}</a>
        {{#if (lt (add i 1) this.groups.length)}}, {{/if}}
      {{/each}}
    </span>
  </div>
{{/if}}

