{{#if this.groups}}
  <div class="user-card-groups">
    <span class="desc">Groups:</span>
    {{#each this.groups as |g|}}
      <a href="/g/{{g.name}}" class="group-link">{{g.name}}</a>
    {{/each}}
  </div>
{{/if}}

