.user-card-groups .group-link {
    padding: 3px 8px;
    color: var(--primary) !important;
    border: 1px solid var(--content-border-color);
    line-height: var(--line-height-large);
    display: inline-flex;
    align-items: center;
    background-color: var(--secondary);
    margin-top: 5px;
}


.relative-date {
  font-size: 0;
  position: relative;
}

.relative-date::after {
  content: attr(title);
  font-size: 13px;
  color: inherit;
}
