.user-card-groups .group-link {
    padding: 3px 8px;
    color: var(--primary) !important;
    border: 1px solid var(--content-border-color);
    line-height: var(--line-height-large);
    display: inline-flex;
    align-items: center;
    background-color: var(--secondary);
}
