


.sidebar-section[data-section-name="uncategorized"] {
  display: none !important;
}
.sidebar-section[data-section-name="general"] {
  display: none !important;
}
.sidebar-section[data-section-name="feedback-suggestions"] {
  display: none !important;
}
.sidebar-section[data-section-name="announcements"] {
  display: none !important;
}
.sidebar-section[data-section-name="pareto-community"] {
  display: none !important;
}
.sidebar-section[data-section-name="polls-and-questions"] {
  display: none !important;
}
.sidebar-section[data-section-name="frequently-ask-questions"] {
  display: none !important;
}
.sidebar-section[data-section-name="pareto-support"] {
  display: none !important;
}

.user-card-groups .group-link {
    padding: 3px 8px;
    color: var(--primary) !important;
    border: 1px solid var(--content-border-color);
    line-height: var(--line-height-large);
    display: inline-flex;
    align-items: center;
    background-color: var(--secondary);
    margin-top: 5px;
}


.relative-date {
  font-size: 0;
  position: relative;
}

.relative-date::after {
  content: attr(title);
  font-size: 13px;
  color: inherit;
}

.sidebar-sections {display: flex !important;flex-direction: column !important;}
.sidebar-custom-sections {display: flex !important;flex-direction: column !important;}
.sidebar-sections > * {order: 0 !important;}
[data-section-name="user-threads"] { order: -7 !important; }
[data-section-name="chat-channels"] { order: -6 !important; }
[data-section-name="community"] { order: 1 !important; }
[data-section-name="chat-dms"] { order: -4 !important; }
[data-section-name="categories"] { order: -3 !important; }
[data-section-name="tags"] { order: 1 !important; }


td.posters.topic-list-data a[data-user-card] {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0.4em;
}

td.posters.topic-list-data a[data-user-card]::after {
  content: attr(data-user-card);
  font-size: 0.85em;
  color: var(--primary-high);
  white-space: nowrap;
  text-transform: none;
}

